.container23 {
  position: relative;
  width: 300px;
  border-radius: 4%;
}

.image23 {
  display: block;
  width: 300px;
  height: auto;
  border-radius: 4%;
  display: inline-block;
}

.overlay34 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #846c5c;
}

.container23:hover .overlay34 {
  opacity: 0.75;
  border-radius: 4%;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
