.header {
  text-align: center;
  padding: 10px;
  background-color: #846c5c;
  color: #f5e7d9;
  font-family: "Playfair Display", serif;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
}

.header p {
  margin: 5px 0 0;
}

.slogan {
  font-size: 1.5rem;
}

a {
  color: #f5e7d9;
  text-decoration: none;
}

a:hover {
  color: #5c4033;
  text-decoration: none;
  cursor: pointer;
}
